@charset "utf-8";

*{
padding: 0;
margin: 0 ;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}


	
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

.eq{
background:url("../img/equi5.jpg") no-repeat center center fixed;
-webkit-background-size: cover ;
-moz-background-size: cover ;
-o-background-size: cover ;
background-size: cover ;
color: black;
  
}


#ejem {
	background-image:url("../img/avl.png");
	background-repeat:no-repeat;
	background-position:center;
	height:400px;
color: white;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#ejem2 {
  background-image:url("../img/avl.png");
  background-repeat:no-repeat;
  background-position:center;
color: white;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


#afrodita{
  width:auto;
  height:auto;
  /* background-image:url("../img/info.png");*/
  font-size: 100%;
  text-align: justify;
   /*display:none;   para que no se visualice al principio la imagen*/
}


#dispositivosdiv{
  width:auto;
  height:auto;
  /* background-image:url("../img/info.png");*/
  font-size: 100%;
  text-align: justify;
  display:none;   /* para que no se visualice al principio la imagen*/
}

#candadosdiv{
  width:auto;
  height:auto;
  /* background-image:url("../img/info.png");*/
  font-size: 100%;
  text-align: justify;
  display:none;   /* para que no se visualice al principio la imagen*/
}

#personalesdiv{
  width:auto;
  height:auto;
  /* background-image:url("../img/info.png");*/
  font-size: 100%;
  text-align: justify;
  display:none;   /* para que no se visualice al principio la imagen*/
}



.de2{
margin-top: 120px;
}


.accesoriosdiv{
    width:auto;
  height:auto;
  /* background-image:url("../img/info.png");*/
  font-size: 100%;
  text-align: justify;
  /* display:none;   /* para que no se visualice al principio la imagen*/
}


.avltitulo{
  text-align: center;
  font-size: 12px;
  height:auto;

}

.text1{
	color:black;
	padding-top:1%;
	text-align:justify;}

.text2{
	background-color:orange;}

.precios{
	text-align:right;
	font-size:2.2em;}
	
.variar{
	text-align:right;
	font-size:.8em;}


.btn-primary {
  width: auto;
    height: auto;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 0;
     cursor:  pointer;
}

span{
  text-align: right;
  color: orange;
}

.acssesorio3{
  margin: 0;
}
.sfs{
  margin-left: 22px;
}

header{ 
position: fixed;
width: 100%;
z-index: 100;
background-color: rgba(255,255,255,.8);
box-shadow:0px 4px 3px rgba(0,0,0,.5);
height: auto;
}

